extends layout 
block content
    form(class="form-width flex-col w-full square-border" , method="post")
        h1(class='text-center mb-2 font-lg') Sign-up
        p(class="mb-2 text-center font-sm") Users who sign up today can take advantage of these free perks!  
        ul(class="mb-2 bold")
            li Access to all account features. 
            li Create posts.
            li Become part of the family!
        label(for="email") Email
            span(class="error font-xs")=emailError
        input(type="email", required, value=email ,placeholder="John@gmail.com", id="email", name="email", class="mb-xs")
        label(for="password") Password
            span(class="error font-xs")=passwordError
        input(type="password", required, id="password", name="password", class="mb-xs") 
        label(for="confPassword") Confirm Password
            span(class="error font-xs")=confirmPasswordError
        input(type="password", required, id="confPassword", name="confPassword", class="mb-xs") 
        label(for="firstName") First Name
            span(class="error font-xs")=firstNameError
        input(type="text", required, value=firstName , placeholder="John", id="firstName", name="firstName", class="mb-xs") 
        label(for="lastName") Last Name
            span(class="error font-xs")=lastNameError
        input(type="text", required, value=lastName , placeholder="Doe", id="lastName", name="lastName", class="mb-1")
        p(class="mb-1") Already have an account? Click 
            a(href="/users/login", class="clr-main") Here 
        button(class="bg-main") Create Account