extends layout

block content
  div(class="div-center")
    h1(class="text-center mb-1 font-xl") Live Feed
    if (currentUser)
      h2(class="capitalize")="Hello " + currentUser.fullName + " :) "
      a(href="/posts/create", class="create-post-btn ") Create 
      if (currentUser.role === "goldMember" || currentUser.role === "admin")
        h4(class="mb-2 text-gold")=currentUser.role
      else 
        h4(class="mb-2")=currentUser.role
    each post in allPosts
      div(class='post-card form-width')
        div(class="post-title")
          h1(class="mb-1 capitalize")=post.title
          if (currentUser && currentUser.role === "admin")
            a(href="/posts/delete/" + post._id, class="clr-main pl-2") Remove 
        p(class="mb-2")=post.body
        if (currentUser)
          if (currentUser.role === "goldMember" || currentUser.role === "admin")
            div(class="post-details")
              p(class="capitalize")="-" + post.author.fullName
              p()=post.formattedDate
          else if (currentUser.role === "member")
            div(class="post-details")
              p Become a 
                a(href="/users/upgrade-gold/", class='text-gold font-sm') goldmember
                p to access post details 

        else
          div(class="post-details")
            p Become a 
              a(href="/users/upgrade-gold/", class='text-gold font-sm') goldmember
              p to access post details 


